<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- link to maybe usedfull css -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  
  </head>

  <body>
      <nav class="navbar-custom">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/cv">CV</a></li>
        </ul>
      </nav>
    
    <div class="main-container">
        {{ content }}
    </div>
  
    <footer>
      <ul>
        <li><a href="mailto:cohitai@gmail.com">email address</a></li>
        <li><a href="https://www.linkedin.com/mwlite/in/itai-c-50112221">LinkedIn</a></li>
	<li><a href="https://sketchfab.com/itai.cohen">Bonus SketchFab page</a></li>
      </ul>
    </footer>
  </body>

</html>
